alembic
asgiref
blinker
certifi
charset-normalizer
click
colorama
Django
Flask
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
greenlet
idna
itsdangerous
Jinja2
Mako
MarkupSafe
requests
SQLAlchemy
sqlparse
typing_extensions
tzdata
urllib3
Werkzeug
WTForms
gunicorn
